#main { margin-left: 18%; }
#sidebar { width: 18%; height: 100%; position: fixed; z-index: 1; top: 0; left: 0;
	padding-top: 36px; background-color: #8BF; overflow-x: hidden; }
#sidebar a { padding: 6px 6px 6px 16px; text-decoration: none; color: #000; display: block; }
#sidebar p { margin: 3px 6px 3px 6px; padding: 6px 6px 6px 10px; color: #00E; background-color: #fff; }
#closebtn { position: absolute; top: 0; right: 0; font-size: 20px; margin-left: 50px; padding: 0px 10px;
	background-color: #111; color: #f00; border: none; cursor: pointer; }
#openbtn { font-size: 20px; padding: 0px 5px 1px 5px; background-color: #111; color: #0f0;
	border: none; cursor: pointer; display: none; }
a.current { font-weight: bold; }
table { border: 0; border-collapse:collapse; }
table td { padding: 5px 6px 5px 8px; }
td img { padding-left: 6px; padding-right: 6px; margin-left: 4px; margin-right: 4px; }
tr:nth-child(even) { background-color: #f2f2f2; }
td.bin { font-size: 80%; background-color: #666; color: #fff }
td.bin { padding: 3px 6px 2px 8px; }
td.rad1n { background-color: #FAA; width: 21px; padding: 0 }
td.rad2n { background-color: #FD9; width: 21px; padding: 0 }
td.rad3n { background-color: #9FA; width: 21px; padding: 0 }
/*
td.rad1c { background-color: #F00; width: 21px; padding: 0 }
td.rad2c { background-color: #FB0; width: 21px; padding: 0 }
td.rad3c { background-color: #0F6; width: 21px; padding: 0 }
*/
tr.rep { background-color: #F0F0FF; }
tr.rep1 { background-color: #FAA; }
tr.rep2 { background-color: #FD9; }
tr.rep3 { background-color: #9FA; }
tr.errtr { border-style: solid; border-color: red; border-width: 2px }
ul { margin: 2px 15px 2px 0px; }
li { margin: 10px 0px 10px 0px; }
pre { margin: 0px; }
.ag { text-align: left }
.ar { text-align: right }
.boutest { width: 40px; cursor: pointer }
.boutup { cursor: pointer } 
.boutmod  { cursor: pointer; padding: 6px 18px; border: solid 2px; border-color: #DA4; background: #FDA; font-weight: bold; } 
.boutadd  { cursor: pointer; padding: 6px 18px; border: solid 2px; border-color: #DA4; background: #FDA; font-weight: bold; } 
.boutfind { cursor: pointer; padding: 6px 18px; border: solid 2px; border-color: #DA4; background: #FDA; font-weight: bold; } 
.boutkill { cursor: pointer; padding: 6px 18px; border: solid 2px; border-color: #D00; background: #F88; font-weight: bold; } 
.boutabt  { cursor: pointer; padding: 6px 18px; border: solid 2px; border-color: #4D4; background: #AFA; font-weight: bold; } 
.lerreur { background-color: #c00; color: #fff; font-size: 150%; text-align: center }
.resu { background-color: #4f7; color: #040; font-size: 120%; text-align: center }
.oblig { color: #f00 }
p.desc { margin: 2px 2px 2px 0px; padding: 3px 2px 3px 2px; background-color: #ddffff; }
p.val  { margin: 2px 2px 2px 0px; padding: 5px 2px 5px 16px; }
/* properties sujettes a responsivite, i.e. a recalculer en javascript */
#sidebar { width: 18% }
#main { margin-left: 18% }
.roin, .textin, .linkin { width: 400px }
.areain { width: 400px }
